
        /* 태그 찾기 { 태그 설정 } */
		/* 1 */
        header {
            height: 70px;
            background-color: #F46075;
        }

		/* 2 */
        footer {
            height: 50px;
            background-color: #333;
            color:white;
            text-align: center;
            line-height: 3;
        }

		/* 3 */
        section {
            border:1px solid gray;
        }

        h1 { height: 70px;  background-color: #F46075; }

        /* id="menu" */
        #menu {
            list-style-type: none;
        }
        /* <li class="item"> */
        .item {
            display: inline-block;
            /* float:left; */
        }
        /* id="pet" */
        #pet {
            border: 1px solid gray;
        }
        p {
            border: 10px solid red;
        }
        /* <p> */
        p {
            line-height: 50px;
            text-align: center;
            background-color: darkgray;
            height: 50px;
        }